<?xml version="1.0"?>
<model>
    <name>mk-u25</name>
    <version>1.0</version>
    <sdf version="1.6">mku25.sdf</sdf>
    <author>
       <name>Ayusee Swain</name>
       <email>ayusee.1998@gmail.com</email>
    </author>
    <description>
      This is a full body model of the Dodecacopter - Manual MK-U25 Multicopter.
    </description>
</model>
